/* X. fonts */
/* X. global */
/* X. header */
/* X. section about */
/* X. section service*/
/* X. section WhatWeDo */
/* X. section works */
/* X. section contact */
/* X. Media Queries */

/* X. fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');
/* X. global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
/*HEADER*/
header {
  width: 100%;
  height: auto;
  position: relative;
}
header img {
  width: 100vw;
  height: 100vh;
  position: relative;  
}
.header__logo {
    border: px solid white;
    position: absolute;
    top:25%;
    left: 48%;
    bottom: 40p;
    width: 5%;
    height: auto;
}
.header__container {
  background-color: ;
  width: 100%;
  height: auto;
  position: absolute;
  top: 40%;
  text-align: center;
} 
.header__titulo {
    font-size: 6vw;
    color: white;
    width: 100vw;
}
.header__descripcion {
     width: 50%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    color: white;   
}

/*SECTION ABOUT*/

.about {
  width: 100%;
  height: auto;
  background: silve;
  border: 2px solid white;
  margin-bottom: 40px;
}
.about__container {
  width: 50%;
  height:auto;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px ;
  border:2px solid black;    
}
.about__titulo {
  text-align: center;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 50%;
  font-size: 2em;
}
.about_descripcion {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}
.about_descripcion-dos {
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  height: auto;    
}

/*SECTION SERVICE*/
.service {
  width: 100%;
  height: auto;
  background-image: url(../img/service.png);
  background-size: 100% 100%;
  border: 2px solid white;   
}
.service__container {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px ;
  border:2px solid white;
  margin-bottom: 50px;
}
.service_titulo {
  text-align: center;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: auto;
  font-size: 2em;
}
.service_descripcion {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
/* SECTION WhatWeDo */
.WhatWeDo{
  width: 100%;
  height: auto;
  background: silve;
  border: 2px solid white;
  margin-bottom: 40px;
}
.WhatWeDo__container {
  width: 50%;
  height: auto;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px ;
  border:2px solid black;
}
.WhatWeDo__titulo {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  background:white;
  font-size: 2em;
}
.WhatWeDo__imagen1 {
  margin-left:40%;
  margin-top: 40px;
  width: 20%;     
}
.WhatWeDo__subtitulo {
  width: auto;;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.5em;
}
.WhatWeDo__descripcion {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
/* X. SECTION WORKS */
.works {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.works__topworkz {
  width: 31%;
   float: left;
   margin: 1%;
}
.works__topworkz img {
  width: 100%;
}

.works__topworkz__titulo {
    margin-top: -50px;
    color: white;
    margin-left: 20px;
    font-size: 1.5em;
}
/*CONTACT US*/
.contact{
    widows: 100%;
    height: 60vh;
    clear: both;
    border: 2px solid white;
}

.contact__container{
    border: 3px solid black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 50%;
    text-align: center;
}
.contact__titulo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-top: -20px;
    background-color: white;
}

.contact__descripcion {
    width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.contact__boton{
    background-color: rgb(60,60,60);
    color: white;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: .9em;
    text-decoration: none;
    width: 35%;
    
}

.derechos {
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    height: auto;
}

.derechos__logo {
    width: 100%;
    height: auto;
}
/* X. Media Queries */
@media(min-width:360px) {
  .works__topworkz{
    width: 90%;
        
   }
    .contact__titulo {
        font-size: 1.5em;
    }
    .contact__boton{
        width: 50%;
    }
 
}
@media(min-width:768px) {
  .works__topworkz{
    width: 48%;
   }
  .header__descripcion {
    display: block;
   }
}
@media(min-width:1200px) {
    .works__topworkz{
        width: 31%;
    }
}


